# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual environment
venv/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# Environment variables
.env

# Streamlit cache
.streamlit/

# IDE files
.vscode/
.idea/
